@import "bootstrap.css";

.title {
  margin-left: 3%;
}

.main {
  margin-top: 8%;
}

.grid {
  margin-left: 15%;
}

.bio-content {
  padding-left: 1em;
  padding-right: 0.5em;
  padding-bottom: 0.1em;
}
