<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='findclubs.css') }}"
    />
    <title>MovieClub</title>
  </head>
  <body>
    <div id="container">
      <div class="d-flex justify-content-around">
        <div>
          <a href="/home/{{user.id}}">Home Page</a>
        </div>
        <div>
          <a href="/logout">Logout</a>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <h1>Find Clubs</h1>
      </div>
      <div class="d-flex justify-content-center">
        <ul>
          {% for club in allclubs %}
          <li><a href="/clubpage/{{club.id}}">{{club.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <hr />
      <div class="d-flex justify-content-center">
        <h3>Can't find certain movie?</h3>
      </div>
      <div class="d-flex justify-content-center">
        <h6><a href="/create_club">Create a Club</a></h6>
      </div>
    </div>
  </body>
</html>
