<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='movielist.css') }}"
    />
    <title>MovieClub</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Release Year</th>
        </tr>
      </thead>
      <tbody>
        {% for movie in allmovies %}
        <tr>
          <td>{{movie.title}}</td>
          <td>{{movie.releaseyear}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
